In [16]:
# Identifying Consumer Segments (Python)
# prepare for Python version 3x features and functions
from __future__ import division, print_function
# import packages for multivariate analysis
import pandas as pd  # DataFrame structure and operations
import numpy as np  # arrays and numerical processing
from sklearn.cluster import KMeans  # cluster analysis by partitioning
from sklearn.metrics import silhouette_score as silhouette_score

# read data from comma-delimited text file... create DataFrame object
bank = pd.read_csv('bank.csv', sep = ';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [2]:
# look at the list of column names
list(bank.columns.values)

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'response']

In [3]:
# examine the demographic variable age
print(bank['age'].unique())
print(bank['age'].value_counts(sort = True))
print(bank['age'].describe())

[30 33 35 59 36 39 41 43 20 31 40 56 37 25 38 42 44 26 55 67 53 68 32 49
 78 23 52 34 61 45 48 57 54 63 51 29 50 27 60 28 21 58 22 46 24 77 75 47
 70 65 64 62 66 19 81 83 80 71 72 69 79 73 86 74 76 87 84]
34    231
32    224
31    199
36    188
33    186
35    180
37    161
38    159
30    150
40    142
42    141
41    135
39    130
46    119
43    115
48    114
45    112
49    112
47    108
44    105
28    103
50    101
29     97
27     94
53     94
57     91
51     91
55     90
52     86
58     85
     ...
23     20
61     16
22      9
66      9
63      8
70      7
21      7
64      7
62      7
65      6
77      6
69      6
71      6
80      6
75      6
73      6
67      5
19      4
83      4
72      4
79      4
20      3
74      3
78      3
68      2
76      2
84      1
81      1
86      1
87      1
Name: age, Length: 67, dtype: int64
count    4521.000000
mean       41.170095
std        10.576211
min        19.000000
25%        33.000000
50%        39.000000
75%        49.000000
max        87.000000
Name: age, dtype: float64

In [4]:
# examine the demographic variable job
print(bank['job'].unique())
print(bank['job'].value_counts(sort = True))
print(bank['job'].describe())

['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64
count           4521
unique            12
top       management
freq             969
Name: job, dtype: object

In [5]:
# define job indicator variables
job_indicators = pd.get_dummies(bank['job'], prefix = 'job')
job_indicators.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0

In [6]:
bank = bank.join(job_indicators)
bank['whitecollar'] = bank['job_admin.'] + bank['job_management'] + \
    bank['job_entrepreneur'] + bank['job_self-employed']
bank['bluecollar'] = bank['job_blue-collar'] + bank['job_services'] + \
    bank['job_technician'] + bank['job_housemaid']

In [7]:
# examine the demographic variable marital
print(bank['marital'].unique())
print(bank['marital'].value_counts(sort = True))
print(bank['marital'].describe())  
# define marital indicator variables
marital_indicators = pd.get_dummies(bank['marital'], prefix = 'marital')
marital_indicators.head()

['married' 'single' 'divorced']
married     2797
single      1196
divorced     528
Name: marital, dtype: int64
count        4521
unique          3
top       married
freq         2797
Name: marital, dtype: object

   marital_divorced  marital_married  marital_single
0                 0                1               0
1                 0                1               0
2                 0                0               1
3                 0                1               0
4                 0                1               0

In [8]:
bank = bank.join(marital_indicators)
bank['divorced'] = bank['marital_divorced']
bank['married'] = bank['marital_married']

In [9]:
# examine the demographic variable education
print(bank['education'].unique())
print(bank['education'].value_counts(sort = True))
print(bank['education'].describe())  

# define education indicator variables
education_indicators = pd.get_dummies(bank['education'], prefix = 'education')
print(education_indicators.head())
bank = bank.join(education_indicators)
bank['primary'] = bank['education_primary']
bank['secondary'] = bank['education_secondary']
bank['tertiary'] = bank['education_tertiary']

print(bank.head)  # check the structure of the data frame
print(bank.shape)

['primary' 'secondary' 'tertiary' 'unknown']
secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64
count          4521
unique            4
top       secondary
freq           2306
Name: education, dtype: object
   education_primary  education_secondary  education_tertiary  \
0                  1                    0                   0
1                  0                    1                   0
2                  0                    0                   1
3                  0                    0                   1
4                  0                    1                   0

   education_unknown
0                  0
1                  0
2                  0
3                  0
4                  0
<bound method NDFrame.head of       age            job   marital  education default  balance housing loan  \
0      30     unemployed   married    primary      no     1787      no   no
1      33       services   married  secondary      no     4789     yes  yes
2      35     management    single   tertiary      no     1350     yes   no
3      30     management   married   tertiary      no     1476     yes  yes
4      59    blue-collar   married  secondary      no        0     yes   no
5      35     management    single   tertiary      no      747      no   no
6      36  self-employed   married   tertiary      no      307     yes   no
7      39     technician   married  secondary      no      147     yes   no
8      41   entrepreneur   married   tertiary      no      221     yes   no
9      43       services   married    primary      no      -88     yes  yes
10     39       services   married  secondary      no     9374     yes   no
11     43         admin.   married  secondary      no      264     yes   no
12     36     technician   married   tertiary      no     1109      no   no
13     20        student    single  secondary      no      502      no   no
14     31    blue-collar   married  secondary      no      360     yes  yes
15     40     management   married   tertiary      no      194      no  yes
16     56     technician   married  secondary      no     4073      no   no
17     37         admin.    single   tertiary      no     2317     yes   no
18     25    blue-collar    single    primary      no     -221     yes   no
19     31       services   married  secondary      no      132      no   no
20     38     management  divorced    unknown      no        0     yes   no
21     42     management  divorced   tertiary      no       16      no   no
22     44       services    single  secondary      no      106      no   no
23     44   entrepreneur   married  secondary      no       93      no   no
24     26      housemaid   married   tertiary      no      543      no   no
25     41     management   married   tertiary      no     5883      no   no
26     55    blue-collar   married    primary      no      627     yes   no
27     67        retired   married    unknown      no      696      no   no
28     56  self-employed   married  secondary      no      784      no  yes
29     53         admin.   married  secondary      no      105      no  yes
...   ...            ...       ...        ...     ...      ...     ...  ...
4491   35    blue-collar    single  secondary      no        0     yes   no
4492   32     technician    single  secondary      no      309     yes  yes
4493   28     technician    single   tertiary      no        0     yes   no
4494   26     technician    single  secondary      no      668     yes   no
4495   48     management   married   tertiary      no     1175     yes   no
4496   30    blue-collar    single  secondary      no      363      no   no
4497   31   entrepreneur    single   tertiary      no       38      no   no
4498   31     management   married   tertiary      no     1183     yes   no
4499   45    blue-collar  divorced    primary      no      942      no   no
4500   38         admin.   married  secondary      no     4196     yes   no
4501   34     management   married   tertiary      no      297     yes   no
4502   42       services   married  secondary      no      -91     yes  yes
4503   60  self-employed   married    primary      no      362      no  yes
4504   42    blue-collar    single  secondary      no     1080     yes  yes
4505   32         admin.    single  secondary      no      620     yes   no
4506   42     unemployed  divorced   tertiary      no     -166      no   no
4507   33       services   married  secondary      no      288     yes   no
4508   42         admin.   married    unknown      no      642     yes  yes
4509   51     technician   married   tertiary      no     2506      no   no
4510   36     technician  divorced  secondary      no      566     yes   no
4511   46    blue-collar   married  secondary      no      668     yes   no
4512   40    blue-collar   married  secondary      no     1100     yes   no
4513   49    blue-collar   married  secondary      no      322      no   no
4514   38    blue-collar   married  secondary      no     1205     yes   no
4515   32       services    single  secondary      no      473     yes   no
4516   33       services   married  secondary      no     -333     yes   no
4517   57  self-employed   married   tertiary     yes    -3313     yes  yes
4518   57     technician   married  secondary      no      295      no   no
4519   28    blue-collar   married  secondary      no     1137      no   no
4520   44   entrepreneur    single   tertiary      no     1136     yes  yes

        contact  day    ...    marital_single  divorced  married  \
0      cellular   19    ...                 0         0        1
1      cellular   11    ...                 0         0        1
2      cellular   16    ...                 1         0        0
3       unknown    3    ...                 0         0        1
4       unknown    5    ...                 0         0        1
5      cellular   23    ...                 1         0        0
6      cellular   14    ...                 0         0        1
7      cellular    6    ...                 0         0        1
8       unknown   14    ...                 0         0        1
9      cellular   17    ...                 0         0        1
10      unknown   20    ...                 0         0        1
11     cellular   17    ...                 0         0        1
12     cellular   13    ...                 0         0        1
13     cellular   30    ...                 1         0        0
14     cellular   29    ...                 0         0        1
15     cellular   29    ...                 0         0        1
16     cellular   27    ...                 0         0        1
17     cellular   20    ...                 1         0        0
18      unknown   23    ...                 1         0        0
19     cellular    7    ...                 0         0        1
20     cellular   18    ...                 0         1        0
21     cellular   19    ...                 0         1        0
22      unknown   12    ...                 1         0        0
23     cellular    7    ...                 0         0        1
24     cellular   30    ...                 0         0        1
25     cellular   20    ...                 0         0        1
26      unknown    5    ...                 0         0        1
27    telephone   17    ...                 0         0        1
28     cellular   30    ...                 0         0        1
29     cellular   21    ...                 0         0        1
...         ...  ...    ...               ...       ...      ...
4491   cellular   16    ...                 1         0        0
4492   cellular   16    ...                 1         0        0
4493    unknown    4    ...                 1         0        0
4494    unknown   28    ...                 1         0        0
4495  telephone   18    ...                 0         0        1
4496   cellular   28    ...                 1         0        0
4497   cellular   20    ...                 1         0        0
4498    unknown   27    ...                 0         0        1
4499   cellular   21    ...                 0         1        0
4500   cellular   12    ...                 0         0        1
4501   cellular   26    ...                 0         0        1
4502   cellular    5    ...                 0         0        1
4503   cellular   29    ...                 0         0        1
4504   cellular   13    ...                 1         0        0
4505    unknown   26    ...                 1         0        0
4506   cellular   29    ...                 0         1        0
4507   cellular   17    ...                 0         0        1
4508    unknown   16    ...                 0         0        1
4509   cellular   30    ...                 0         0        1
4510    unknown   20    ...                 0         1        0
4511    unknown   15    ...                 0         0        1
4512    unknown   29    ...                 0         0        1
4513   cellular   14    ...                 0         0        1
4514   cellular   20    ...                 0         0        1
4515   cellular    7    ...                 1         0        0
4516   cellular   30    ...                 0         0        1
4517    unknown    9    ...                 0         0        1
4518   cellular   19    ...                 0         0        1
4519   cellular    6    ...                 0         0        1
4520   cellular    3    ...                 1         0        0

      education_primary  education_secondary education_tertiary  \
0                     1                    0                  0
1                     0                    1                  0
2                     0                    0                  1
3                     0                    0                  1
4                     0                    1                  0
5                     0                    0                  1
6                     0                    0                  1
7                     0                    1                  0
8                     0                    0                  1
9                     1                    0                  0
10                    0                    1                  0
11                    0                    1                  0
12                    0                    0                  1
13                    0                    1                  0
14                    0                    1                  0
15                    0                    0                  1
16                    0                    1                  0
17                    0                    0                  1
18                    1                    0                  0
19                    0                    1                  0
20                    0                    0                  0
21                    0                    0                  1
22                    0                    1                  0
23                    0                    1                  0
24                    0                    0                  1
25                    0                    0                  1
26                    1                    0                  0
27                    0                    0                  0
28                    0                    1                  0
29                    0                    1                  0
...                 ...                  ...                ...
4491                  0                    1                  0
4492                  0                    1                  0
4493                  0                    0                  1
4494                  0                    1                  0
4495                  0                    0                  1
4496                  0                    1                  0
4497                  0                    0                  1
4498                  0                    0                  1
4499                  1                    0                  0
4500                  0                    1                  0
4501                  0                    0                  1
4502                  0                    1                  0
4503                  1                    0                  0
4504                  0                    1                  0
4505                  0                    1                  0
4506                  0                    0                  1
4507                  0                    1                  0
4508                  0                    0                  0
4509                  0                    0                  1
4510                  0                    1                  0
4511                  0                    1                  0
4512                  0                    1                  0
4513                  0                    1                  0
4514                  0                    1                  0
4515                  0                    1                  0
4516                  0                    1                  0
4517                  0                    0                  1
4518                  0                    1                  0
4519                  0                    1                  0
4520                  0                    0                  1

     education_unknown  primary  secondary  tertiary
0                    0        1          0         0
1                    0        0          1         0
2                    0        0          0         1
3                    0        0          0         1
4                    0        0          1         0
5                    0        0          0         1
6                    0        0          0         1
7                    0        0          1         0
8                    0        0          0         1
9                    0        1          0         0
10                   0        0          1         0
11                   0        0          1         0
12                   0        0          0         1
13                   0        0          1         0
14                   0        0          1         0
15                   0        0          0         1
16                   0        0          1         0
17                   0        0          0         1
18                   0        1          0         0
19                   0        0          1         0
20                   1        0          0         0
21                   0        0          0         1
22                   0        0          1         0
23                   0        0          1         0
24                   0        0          0         1
25                   0        0          0         1
26                   0        1          0         0
27                   1        0          0         0
28                   0        0          1         0
29                   0        0          1         0
...                ...      ...        ...       ...
4491                 0        0          1         0
4492                 0        0          1         0
4493                 0        0          0         1
4494                 0        0          1         0
4495                 0        0          0         1
4496                 0        0          1         0
4497                 0        0          0         1
4498                 0        0          0         1
4499                 0        1          0         0
4500                 0        0          1         0
4501                 0        0          0         1
4502                 0        0          1         0
4503                 0        1          0         0
4504                 0        0          1         0
4505                 0        0          1         0
4506                 0        0          0         1
4507                 0        0          1         0
4508                 1        0          0         0
4509                 0        0          0         1
4510                 0        0          1         0
4511                 0        0          1         0
4512                 0        0          1         0
4513                 0        0          1         0
4514                 0        0          1         0
4515                 0        0          1         0
4516                 0        0          1         0
4517                 0        0          0         1
4518                 0        0          1         0
4519                 0        0          1         0
4520                 0        0          0         1

[4521 rows x 43 columns]>
(4521, 43)

In [10]:
# look at the list of column names
list(bank.columns.values)

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'response',
 'job_admin.',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_unknown',
 'whitecollar',
 'bluecollar',
 'marital_divorced',
 'marital_married',
 'marital_single',
 'divorced',
 'married',
 'education_primary',
 'education_secondary',
 'education_tertiary',
 'education_unknown',
 'primary',
 'secondary',
 'tertiary']

In [11]:
# select/filter for cases never previously contacted by sales
bank_selected = bank[bank['previous'] == 0]
print(bank_selected.shape)

(3705, 43)

In [12]:
# select subset of variables needed for cluster analysis and post-analysis
bankfull = pd.DataFrame(bank_selected, \
    columns = ['response', 'age', 'whitecollar', 'bluecollar', 
               'divorced', 'married',
               'primary', 'secondary', 'tertiary'])

# examine the structure of the full bank DataFrame
print(bankfull.head)  # check the structure of the data frame
print(bankfull.shape)
# look at the list of column names
list(bankfull.columns.values)

<bound method NDFrame.head of      response  age  whitecollar  bluecollar  divorced  married  primary  \
0          no   30            0           0         0        1        1
3          no   30            1           0         0        1        0
4          no   59            0           1         0        1        0
7          no   39            0           1         0        1        0
8          no   41            1           0         0        1        0
10         no   39            0           1         0        1        0
11         no   43            1           0         0        1        0
12         no   36            0           1         0        1        0
13        yes   20            0           0         0        0        0
15         no   40            1           0         0        1        0
16         no   56            0           1         0        1        0
18         no   25            0           1         0        0        1
20         no   38            1           0         1        0        0
21         no   42            1           0         1        0        0
22         no   44            0           1         0        0        0
23         no   44            1           0         0        1        0
24         no   26            0           1         0        1        0
25         no   41            1           0         0        1        0
26         no   55            0           1         0        1        1
28         no   56            1           0         0        1        0
29         no   53            1           0         0        1        0
30        yes   68            0           0         1        0        0
31         no   31            0           1         0        1        0
32         no   59            1           0         0        1        0
33        yes   32            1           0         0        0        0
34        yes   49            0           1         0        1        0
35         no   42            1           0         1        0        0
36        yes   78            0           0         1        0        1
37        yes   32            0           1         0        1        0
39         no   23            0           1         0        0        0
...       ...  ...          ...         ...       ...      ...      ...
4483       no   31            0           1         0        1        0
4484      yes   38            1           0         0        1        0
4486       no   37            0           1         0        1        1
4487       no   49            1           0         1        0        0
4490       no   58            1           0         0        1        0
4491       no   35            0           1         0        0        0
4493       no   28            0           1         0        0        0
4494      yes   26            0           1         0        0        0
4495       no   48            1           0         0        1        0
4496       no   30            0           1         0        0        0
4497       no   31            1           0         0        0        0
4498       no   31            1           0         0        1        0
4499       no   45            0           1         1        0        1
4500       no   38            1           0         0        1        0
4501       no   34            1           0         0        1        0
4502       no   42            0           1         0        1        0
4503      yes   60            1           0         0        1        1
4505      yes   32            1           0         0        0        0
4506       no   42            0           0         1        0        0
4507       no   33            0           1         0        1        0
4508       no   42            1           0         0        1        0
4509       no   51            0           1         0        1        0
4510       no   36            0           1         1        0        0
4511      yes   46            0           1         0        1        0
4512       no   40            0           1         0        1        0
4513       no   49            0           1         0        1        0
4515       no   32            0           1         0        0        0
4516       no   33            0           1         0        1        0
4517       no   57            1           0         0        1        0
4518       no   57            0           1         0        1        0

      secondary  tertiary
0             0         0
3             0         1
4             1         0
7             1         0
8             0         1
10            1         0
11            1         0
12            0         1
13            1         0
15            0         1
16            1         0
18            0         0
20            0         0
21            0         1
22            1         0
23            1         0
24            0         1
25            0         1
26            0         0
28            1         0
29            1         0
30            1         0
31            1         0
32            1         0
33            0         1
34            0         1
35            1         0
36            0         0
37            1         0
39            0         1
...         ...       ...
4483          1         0
4484          0         1
4486          0         0
4487          1         0
4490          1         0
4491          1         0
4493          0         1
4494          1         0
4495          0         1
4496          1         0
4497          0         1
4498          0         1
4499          0         0
4500          1         0
4501          0         1
4502          1         0
4503          0         0
4505          1         0
4506          0         1
4507          1         0
4508          0         0
4509          0         1
4510          1         0
4511          1         0
4512          1         0
4513          1         0
4515          1         0
4516          1         0
4517          0         1
4518          1         0

[3705 rows x 9 columns]>
(3705, 9)

['response',
 'age',
 'whitecollar',
 'bluecollar',
 'divorced',
 'married',
 'primary',
 'secondary',
 'tertiary']

In [20]:
bankfull.head()

,response,age,whitecollar,bluecollar,divorced,married,primary,secondary,tertiary,cluster
0,no,30,0,0,0,1,1,0,0,0
3,no,30,1,0,0,1,0,0,1,0
4,no,59,0,1,0,1,0,1,0,1
7,no,39,0,1,0,1,0,1,0,0
8,no,41,1,0,0,1,0,0,1,0

In [22]:
# select subset of variables for input to cluster analysis
data_for_clustering = pd.DataFrame(bank_selected, columns = ['age', 'whitecollar', 'bluecollar', 
               'divorced', 'married','primary', 'secondary', 'tertiary'])
               
# convert to matrix/numpy array for input to cluster analysis
data_for_clustering_matrix = data_for_clustering.as_matrix()            
  
# investigate alternative numbers of clusters using silhouette score
silhouette_value = []
k = range(2,21)  # look at solutions between 2 and 20 clusters
for i in k:
    clustering_method = KMeans(n_clusters = i, random_state = 9999)
    clustering_method.fit(data_for_clustering_matrix)
    labels = clustering_method.predict(data_for_clustering_matrix)
    silhouette_average = silhouette_score(data_for_clustering_matrix, labels)
    silhouette_value.append(silhouette_average)    
              
# highest silhouette score is for two clusters
# so we use that clustering solution here   
clustering_method = KMeans(n_clusters = 2, random_state = 9999)
clustering_method.fit(data_for_clustering_matrix)
labels = clustering_method.predict(data_for_clustering_matrix)

# add cluster labels to bankfull and review the solution 
bankfull['cluster'] = labels

# pivot table and cross-tabulation examples
bankfull.pivot_table(['cluster'],index=['age'])  
pd.crosstab(bankfull.cluster, bankfull.bluecollar, margins = True)

C:\Users\bradl\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:6: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

bluecollar     0     1   All
cluster
0           1079  1224  2303
1            756   646  1402
All         1835  1870  3705

In [23]:
# groupby example
segments = bankfull.groupby('cluster')
segments.describe()

            age                                                    bluecollar  \
          count       mean       std   min   25%   50%   75%   max      count
cluster
0        2303.0  34.293964  5.064226  19.0  31.0  34.0  38.0  43.0     2303.0
1        1402.0  52.236805  6.489732  44.0  47.0  51.0  56.0  87.0     1402.0

                  ...  tertiary      whitecollar                           \
             mean ...       75%  max       count      mean       std  min
cluster           ...
0        0.531481 ...       1.0  1.0      2303.0  0.405992  0.491190  0.0
1        0.460770 ...       0.0  1.0      1402.0  0.369472  0.482834  0.0


         25%  50%  75%  max
cluster
0        0.0  0.0  1.0  1.0
1        0.0  0.0  1.0  1.0

[2 rows x 64 columns]